
#head {
	color:white;
	font-family: 'Oswald', sans-serif;
   background-color: #ffcc99;
	text-align: center;
	border-radius: 25px;
	font-size: 2em;
	color: #c02000;
	line-height:2;

	margin: 30% 
}

body {
    background-image: url("jackchi2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#navbar{
	color:white;
	font-family: 'Oswald', sans-serif;
   background-color:#996633 ;
	border-radius: 25px;
	height: 30px;
	color: #c02000;
	line-height:1.5;
	padding:1% 1% 1% 1%;
	 display: inline;
}

.nav {
  display:inline;
  height: 10px;
  margin: 10% 10%;
  background-color:#bb9966;
  border-radius:25%;
  padding: 1%;
  }

#foot {
	position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   background:#79bff2;
   font-family: 'Oswald', sans-serif;
}

a:active{
	color:white
}
a:hover{
	color:yellow
}

#drop {
	margin: 0;
	padding: 0;
	height: 1em; }
#drop li {
	list-style: none;
	float: left; }
#drop li a {
	display: block;
	padding: 3px 8px;
	background-color: #5e8ce9;
	color: #fff;
	text-decoration: none; }

	#drop li ul {
	display: none; 
	width: 10em; /* Width to help Opera out */
	background-color: #69f;}

	#drop li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; }
#drop li:hover li {
	float: none; }
#drop li:hover li a {
	background-color: #69f;
	border-bottom: 1px solid #fff;
	color: #000; }
#drop li li a:hover {
	background-color: #8db3ff; }