#head {
   background-color: blue;


}

body {
    background-image: url("jackchi2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
 }

.lines{
   margin: 0;
   height: 10px;
   background-color:green;
}

#foot{
	clear:both;
   border:solid;
   border-color:blue;
   border-width:1px; 
   position:fixed;
   left:0px;
   bottom:0px;
   height:20px;
   width:100%;
   background:#FEFEF2;
   text-decoration: initial;
   text-align: center

}

a:hover:
