
#head {
	color:white;
	font-family: 'Oswald', sans-serif;
    background-color: lightblue;
	text-align: center;
	font-size: 2em;
	color: black;
	line-height:2;
  opacity: 0.8;
  
}


header{
  position:fixed;
  width:50%;
  z-index: 1;
width:80%;
margin-left:10%

}

body {
    background-image: url("jackchi2.jpg");
    background-repeat: repeat-y;
    background-position: 50% 50%;
    background-size: cover;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
  font-size: 13px;
  text-align: center;
  
}



ul {
  text-align: left;
  display: inline;
  padding: 15px 9px 17px 0;
  list-style: none;


  
 
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -10px;
  position: relative;
  padding: 10px 42px;
  background: lightblue;
  transition: all 0.2s;
}

ul li:hover {
  background: #555;
  color: #fff;
}

.dd1 {
  padding: 0;
  position: absolute;
  top: 38px;
  left: 0px;
  width: 190px;
  visibility: hidden;
  
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  visibility: visible;
}
#foot{
	//position:absolute;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-color:black;
	border-style:solid;
	bottom:0px;
	left:10%;
	right:10%;
	width:80%;
  margin:50px auto;
}


.navtitle a{
  color:black;
}
.navtitle a:hover{
  color:white
}
a:hover{
	color:coral
}

ul li ul li a:link{
	color:lightblue
}
a:visited:{color:lightblue}

a {text-decoration:none;
color:lightblue}

.break{
height:3%;
text-align:center;
padding:

}


.blogposts{
  
  width: 70%;
  height:500px;
  margin: 20px auto;
  overflow-y:auto;
  margin-top: 170px;

}

.post{
  border:solid 1px;
  height:auto;
  width:auto;
  padding:20px;
  margin-top:7px;
  background-color: white;
  opacity:0.8;

}

.title{
  font-weight: bold;
  font-size:16px;
}

