@import url("fonts.css");

body {
  /*font-family: 'Lora', 'Times New Roman', serif;*/
  /*font-size: 20px;*/
  background: #C0C0C0;
}
textarea:focus, input:focus {
  /*background: black;*/
  color: black;
  border: none
}
input {
  font-family:'InputSans-Thin', Helvetica;
  background: #E6E6E6;
  color: black;
  border: none;
  height: 20px;
  /*width: 1px; */
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  padding-left: 10px;
}
input[type=image]{
  /*width: 20px;*/
  bottom: 0px;
  /*vertical align is important*/
  vertical-align: bottom;
  display: inline;
}
form{
  margin: 0px;
  padding: 0px;
  display: block;

}

select {
  padding-left: 10px;
  font-family:'InputSans-Thin', Helvetica;
  background: #E6E6E6;
  color:black;
  border: none;
  height: 20px;
  width: 150px; 
  margin: 0px;
  padding-left: 5px;
  font-size: 10px;
  -webkit-appearance: none;
  border-radius: 0px
}


option{
  border-radius: 0px;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
a:hover{
  text-decoration: none
}
h2 {
  font-size: 30px;
}
h3{
  font-size: 11px;
}

a {
  color: #404040;

}
a:hover,
a:focus {
  color: white;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

/*nav*/
.navbar-brand img{
  position:absolute;
  top:0px;
  left:0px;
  width:75px;
  height:75px;
}

.navbar-default {
  border-color: transparent;
  font-family: 'InputSans-Bold';
  font-size: 10px;
  height: 5px;
  background:transparent;

}
.navbar-default ul li a{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: white;
  padding: 0px;
  
}
.bottom-nav a {
  padding-right: 53px
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #fec503;

}

@media(max-width:768px) {
  .navbar-default .navbar-collapse .top-nav a,
  .navbar-default .navbar-collapse .bottom-nav a
  {
    padding-top: 10px;
    padding-left: 0px;
    display: block;
    
  }
}
.navbar-default .navbar-toggle {
  border:none;

}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
  
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c6c6c6;
  border: none;
}

.navbar-default .nav li a {
  color: black;
  font-size: 11px;
  letter-spacing: 0px;

}

.collapse a:hover {
  color:white;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: white;

}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #fec503;
}

.top-nav{
  padding-top: 25px;
  padding-left: 0px
}
.top-nav a{
 color:black;
}
.bottom-nav {
  padding-top: 40px;
}


.bottom-nav a{
  color:black;
  padding-left: 0px;
}
.fortyfive{
  padding-left: 0px;
}
.login{
  padding-left: 25px;
  width: auto
}


@media(min-width:768px) {

  .navbar-default {
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-left{
    padding: 10px 0px 0px 0px;
  }

  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }

}
@media(max-width:768px) {
  .navbar-default img{
    height:50px;
    width:50px;
  } 
  .container{
    /*margin-left: 0px*/
  }
  .navbar-collapse {
    background: grey;

  }
  .locate{
    z-index: 100 !important
  }
  .bottom-nav {
    margin-bottom: 15px;
  }
}

/*header*/

.locate{
  border-radius: 0px;
  margin-top: 100px; 
}
.search {
  padding-left: 25px;

}
.search input[type=search]{
  width: 130px
}
.sort {
  margin-bottom: 0%; 
  float: left;
}

@media(max-width:400px) {
 .search input[type=search]{
  width:145px
}
.search{
  float:left;
  margin-left: 0px;
  padding-left: 0px;
}
}

.intro-header .post-heading{
  font-size: 10px
}
.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /*margin-bottom: 50px;*/
  font-family: 'InputSans-Medium', Helvetica;
}
.sub {
  margin-top: 0px;
  font-family:'InputSans-Thin', Helvetica;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 50px 0 0;
  color: black;
  /*clear:both;*/
}
.sub {
  padding-top: 0px;
}
@media only screen and (max-width: 768px) {
  .intro-header {
    padding-top: 75px;
  }
  .locate{
    margin-top: 0px; 
  }
}

@media only screen and (max-width: 390px) {
  .sort{
    float:center;
  }
  .search{
    float:center;
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    /*padding: 150px 0;*/
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;

  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.info {
  font-size: 11px;
  text-decoration: underline;
  margin-top: 30px;
  font-family: 'InputSans-Light', Helvetica;
}

/*portfolio section*/
#portfolio .portfolio-item {
  /*right: 0;*/
  margin-top: 3%;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*this is the color of the hovered item in the body */
  background: black;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  margin: 7px;
  font-size: 8.5px;
  font-family: 'InputSans-light', Helvetica; 
  /*this is the color of the text in the hovered items in the body*/  
  font-style: normal;
  font-weight: bold;
  color: white;
  
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content p {
  margin: 5px;
  padding: 0px;
}


#portfolio * {
  z-index: 2;
}

footer {
  background: #C0C0C0;
  color: black;
  letter-spacing: 0px;
  padding: 15px ;
  font-family: 'InputSans-Light', Helvetica;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 8.5px;
  text-align: center;
  margin-bottom: 0;
}

@media(max-width:1200px){
  .bottom-nav {
    padding-top: 25px;
  }
  .login {
    margin-left: 13%
  }
  .form {
    padding-right-right: 0px;
    width: auto;
    margin-left: 0px;
    border: solid red;
  }
}

@media(max-width : 992px) {
  .login {
    margin-left: 0%
  }
}

@media(max-width:1100px){
  #logo{
    left:auto;
    right:0px;
  }
}
@media(max-width:768px){
  #logo{
    right:auto;
    left:0px;
  }
}
