@import url("fonts.css");

body {
	background: white;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
	text-decoration: underline;
	color: grey;
}

.head	{
	margin-top: 100px;
	margin-bottom: 75px
}

@media(max-width:768px) {
	.head	{
		margin-top: -50px;
	}
}

.sub{   
	font-family: 'InputSans-Bold', Helvetica;
}
.sub h4 {
	font-size: 11px;
	line-height: 15px;
}

.sub a{
	text-decoration: underline;
}

.post{
	font-family:'InputSans-Thin', Helvetica;
}
.showbox{
	position: absolute;
	left:0px;
	top:220px;
	height: 330px;
	width:330px;
}

.diagram{
	margin-right: 70%;
	margin-left: -175px;
}
.diagram span{
	font-size: 11px
}
@media(max-width:1160px) {
.diagram{
	margin-right: 40%;
	margin-left: -100px;
}
}

@media(max-width:950px) {
.diagram{
	margin-right: 0%;
	margin-left: 0px;
}
}




.sign{
	padding-bottom: 50px
}






