@import url("fonts.css");

body {
	background: white;
}
h2{
	font-size: 25px;
	margin-top: 0px;
}



.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
	text-decoration: underline;
	color: grey;
}

.head	{
	margin-top: 100px;
	margin-bottom: 75px
}


.sub{   
	font-family: 'InputSans-Bold', Helvetica;
}
.sub h4 {
	font-size: 12px;
	line-height: 15px;
}

.sub a{
	text-decoration: underline;
}

.post{
	font-family:'InputSans-Narrow', Helvetica;
}
.showbox{
	position: absolute;
	background-image: url("../img/white.png");
	background-position: top right;
	background-repeat: no-repeat;
	left:0px;
	top:200px;
	height: 303px;
	width:300px;
}

#toparrow{
	z-index: 100;
	cursor: pointer;
	position:fixed;
	bottom: 0px;
	left: 0px
}
.purple {
	background-color: #C389BA
}

#purple a:hover{
	color: #C389BA
}


.diagram{
	margin-right: 70%;
	margin-left: -175px;
}
.diagram img{
	width: 600px
}
.diagram span{
	font-size: 11px
}
@media(max-width:1200px) {
	.diagram{
		margin-right: 40%;
		margin-left: -100px;
	}
	.showbox{
		width:100px;
	}
}

@media(max-width:990px) {
	.diagram {
		margin-right: 0%;
		margin-left: 0px;
	}
	.showbox{
		width:25px;
	}
}

@media(max-width:768px) {
	.head	{
		margin-top: -55px;
		margin-bottom: 0px;
	}
	.sub	{
		padding-top: -70px;
	}
	.showbox{
		background: white
	}
	h2{
		padding-top: 30px
	}
}


