.title {background-color: #e0e0e0;
  border-color: #dbdbdb;
   padding: 30px;
  margin-bottom: 30px;
  margin:10px 0px; 
  padding:0px;
	text-align:center;
 }
 links{
    list-style-type: Square;
    margin: 0;
    padding: 0;
    overflow: hidden;
       display: inline;
    float: left;
    display: inline;
    margin: 25px;
    width: 600px;
    background-color: #FFD700;
}
.content {
    width: 1200px;
    word-wrap: break-word;
    display:inline;
    
}
li {display:inline;
width: 250px;}
