.title {background-color: #e0e0e0;
  border-color: #dbdbdb;
   padding: 30px;
  margin-bottom: 30px;
  margin:10px 0px; 
  padding:0px;
	text-align:center;
 }

.content {
    width: 1200px;
    word-wrap: break-word;
    display:inline;
    
}
li {display:inline;
    
    width: 250px}

#navigation li
{
display: inline;
list-style-type: none;
padding-right: 50px;
}

#foot {
   Border:dotted;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#8A2BE2;
}
