.title {background-color: #e0e0e0;
  border-color: #dbdbdb;
   padding: 30px;
  margin-bottom: 30px;
  margin:50px 0px; 
  padding:0px;
	text-align:center;
 }
 links{
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    margin: 25px;
    width: 600px;
    background-color: #FFD700;
}
}
.content {
    width: 200px;
    word-wrap: break-word;
}
