#head1 {font-family:"Comic Sans MS", cursive, sans-serif;
font-size: 50px;
font-style: italic
}


.center {
    margin: auto;
    width: 50%;
  
    background-color: #00FF00;
}

#sidebar { 
    width:300px;
    height:300px;
    background:blue}

#footer { 
   position:absolute;
    bottom:0;
    border:5px solid #000; 
    height:0;
    width:100%;
    margin: 50px 50px 50px 50px;
	background:#ee5}
	
body
{
background-image:"http://upload.wikimedia.org/wikipedia/en/thumb/e/ec/Soccer_ball.svg/480px-Soccer_ball.svg.png";}
