#head1 {font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	font-style: italic
}

.center {
	  margin: auto;
	 border-style: dotted;
	 border-color: red;
	  width: 40%;
	  background-color: #00FF00;
}	

#sidebar { 
	position:absolute;
	border-style: groove;
    	border-color: #98bf21;
	padding-top: 150px
	padding-bottom: 100px;
    	padding-right: 50px;
	padding-left: 50px;
    	width:300px;
    	height:125px;
    	left:500px;
    	background:#C0C0C0;
    	clear:right;
    	}

#footer { 
	position:relative;
    bottom:0;
    border:5px solid #000; 
    height:50px;
    width:500px;
    margin: 50px 50px 50px 50px;
	background-color:#ee5;
	font-size:20px}

	a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: black;
}
a:active {
    color: pink;
}

.ball {
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 258px; 
   width: 100%; 
}
